/* Estilos básicos */

 .about-header {
   margin-bottom: 2rem;
 }
 
 .about-header h1 {
   font-size: 2.5rem;
   color: #3a3a3a;

 }
 
 .about-header p {
   font-size: 1.5rem;
   color: #ffffff;
 }
 
 .cta-button {
   margin-top: 1rem;
   padding: 1rem 2rem;
   font-size: 1rem;
   background-color: #4CAF50;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }
 
 .cta-button:hover {
   background-color: #45a049;
 }
 
 /* Sección de características */
 .features {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   justify-content: center;
   margin-bottom: 2rem;
 }
 
 .feature-card {
   background-color: #fff;
   padding: 1.5rem;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   width: 100%;
   max-width: 300px;
 }
 
 .feature-card h2 {
   color: #2b2b52;
   margin-bottom: 1rem;
 }
 
 .feature-card p {
   color: #6b6b83;
   font-size: 1rem;
 }
 
 /* Footer */
 .about-footer {
   color: #747474;
   margin-top: 2rem;
 }
 
/* Estilos generales */
.about-container {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 4rem 0.5rem;
  background-color: #ececec;
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;
}

/* Estilos para pantallas pequeñas (dispositivos móviles) */
@media (max-width: 480px) {
  .about-container {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 80%; /* Usa el 90% del ancho de la pantalla */
    height: auto; /* Ajusta la altura según el contenido */
    padding: 2rem 1rem; /* Reduce el padding para optimizar el espacio */
    background-color: #f9f9f9; /* Cambia el color de fondo si es necesario */
    font-size: 14px; /* Reduce el tamaño de fuente */
  }
}

/* Estilos para tablets (pantallas medianas) */
@media (min-width: 481px) and (max-width: 1024px) {
  .about-container {
    width: 97%; /* Ajusta el ancho */
    font-family: Arial, sans-serif;
    text-align: center;
    height: auto; /* Ajusta la altura según el contenido */
    padding: 4rem 1rem; /* Ajusta el espacio interno */
    font-size: 16px; /* Tamaño de fuente moderado */
  }
}

/* Estilos para pantallas grandes (escritorios y laptops) */
@media (min-width: 1025px) and (max-width: 1524px) {
  .about-container {
    width: 95%; /* Tamaño máximo para pantallas grandes */
    padding: 4rem 1rem; /* Mantén espacio más amplio */
    font-size: 18px; /* Texto más grande para mejor lectura */
  }
}
